<form action="" id="contact-form">
    <label for="name">Nombre</label>
    <input type="text" class="contact-form-input" name="name" placeholder="Ej: María José Salvatierra" value="" required>
    <label for="email">Email</label>
    <input type="email" class="contact-form-input" name="email" placeholder="Ej: midireccion@correo.com" value="" required>
    <label for="message">Mensaje</label>
    <textarea class="contact-form-input" style="width: 90%;" rows="6" type="textarea" name="message" value="" placeholder="Ej: ¡Los queremos mucho!" required></textarea>
    <p>Tambien podes contactarnos directamente a través de las siguientes redes sociales:
    </p>
    <div id="social-media-container">
        <a href="https://www.instagram.com/cinepica">
            <i class="fa-brands fa-instagram fa-2x"></i><div> @cinepica</div>
            
        </a>
        <a href="https://www.facebook.com/cinepica">
            <i class="fa-brands fa-facebook fa-2x"></i><div>
            /Cinepica </div>
        </a>
        <a href="mailto:cinepica.films@gmail.com">
            <i class="fa-regular fa-envelope fa-2x"></i><div>
            cinepica.films@gmail.com</div>
        </a>
    </div>
    <button class="submit-button">✔ ENVIAR</button>
</form>