    <div class="hamburger" id="hamburger-container">
      <span class="bar" id="bar-1"></span>
      <span class="bar" id="bar-2"></span>
      <span class="bar" id="bar-3"></span>
    </div>
    <div class="user-nav" id="user-nav">
      <% if (currentUser) {%> 
      <a href="/users/logout" class="collapsible">Cerrar Sesión</a>
      <% } else { %> 
        <a href="/users/register" class="collapsible">Registrarse</a>
        <a href="/users/login" class="collapsible">Iniciar Sesión</a>
      <% } %> 
      <a href="#" id="user-btn-container">
        <% if(currentUser){ %>
          <span> <%= currentUser.username %> </span>
        <% } %>  
        <i class="fa-regular fa-user fa-2x"></i>
      </a>
    </div>

    <nav class="navbar" id="navbar">
      <div class="navlinks-container">
        <div class="navlinks">
          <a href="/films"><i class="fa-solid fa-tv fa-2x"></i></i> Lista de Películas <i class="fa-solid fa-tv fa-2x"></i></i></a>
          <a href="/films/random-film"><i class="fa-solid fa-shuffle fa-2x"></i> Película al azar <i class="fa-solid fa-shuffle fa-2x"></i></a>
          <a href="/films/map"><i class="fa-solid fa-earth-americas fa-2x"></i> Mapa del Cine <i class="fa-solid fa-earth-americas fa-2x"></i></a>
          <a href="/about"><i class="fa-solid fa-person-circle-question fa-2x"></i> Quienes Somos <i class="fa-solid fa-person-circle-question fa-2x"></i></a>
          <a href="/contact"><i class="fa-solid fa-comment-dots fa-2x"></i> Contacto <i class="fa-solid fa-comments fa-2x"></i></a>
        </div>
      </div>
    </nav>
