    <div class="hamburger" id="hamburger-container">
      <span class="bar" id="bar-1"></span>
      <span class="bar" id="bar-2"></span>
      <span class="bar" id="bar-3"></span>
    </div>
    <div class="user-nav" id="user-nav">
      <% if (currentUser) {%> 
      <a href="/users/logout" class="collapsible">Cerrar Sesión</a>
      <% } else { %> 
        <a href="/users/register" class="collapsible">Registrarse</a>
        <a href="/users/login" class="collapsible">Iniciar Sesión</a>
      <% } %> 
      <a href="#" id="user-btn-container">
      <% if(currentUser){ %>
        <span> <%= currentUser.username %> </span>
       <% } %>  
       <iconify-icon icon="carbon:user-avatar-filled-alt" width="40" height="40"></iconify-icon></a>
    </div>

    <nav class="navbar" id="navbar">
      <div class="navlinks-container">
        <div class="navlinks">
          <a href="/films"><iconify-icon icon="emojione:film-projector" width="30" height="30"></iconify-icon> Lista de Películas <iconify-icon icon="emojione:film-projector" width="30" height="30"></iconify-icon></a>
          <a href="/films/random-film"><iconify-icon icon="fa-solid:random" width="25" height="25"></iconify-icon> Película al azar <iconify-icon icon="fa-solid:random" width="25" height="25"></iconify-icon></a>
          <a href="/films/map"><iconify-icon icon="emojione-v1:globe-showing-americas" width="30" height="30"></iconify-icon> Mapa del Cine <iconify-icon icon="emojione-v1:globe-showing-americas" width="30" height="30"></iconify-icon></a>
          <a href="/about"><iconify-icon icon="emojione:old-woman-medium-skin-tone" width="30" height="30"></iconify-icon> Quienes Somos <iconify-icon icon="emojione:old-man-dark-skin-tone" width="30" height="30"></iconify-icon></a>
          <a href="/contact"><iconify-icon icon="akar-icons:chat-approve" width="30" height="30"></iconify-icon> Contacto <iconify-icon icon="akar-icons:chat-error" width="30" height="30"></iconify-icon></a>
        </div>
      </div>
    </nav>
