<% layout('layouts/boilerplate') %> 

<a id="back-button" href="/films">↻ VOLVER</a>
<div class="film-container moving-glow">
    <div id="about-container">
        <h1>Pero... ¿Quiénes son ustedes?</h1>
        <p>Cinépica nace en 2020 como un cuarentenoso proyecto independiente. En tanto consumidores de cine cada vez más agotados de Hollywood y sus productos pre-fabricados, decidimos comenzar a recomendar aquellas películas cuyo valor artístico, social o político nos pareciera digno de compartir.</p>

        <p>Sabemos lo difícil que puede llegar a ser para muchos el terrible momento de elegir una película para ver. Nuestra misión es simple: llevar a una decisión más rápida y menos riesgosa (siempre y cuando conozcan a los bueyes con que aran, es decir, nosotros...)</p>

        <p>De esta forma, y gracias a nuestro innecesario aporte, el simple mortal quizás pueda llegar a refactorizar su tiempo de existencia y, en vez de gastar dos horas para elegir una película, mirar dos. O tres, dependiendo de la buena voluntad.</p>
    </div>
</div>