<%- layout("layouts/boilerplate") %> 

<a id="back-button" href="/films">↻ VOLVER</a>
<div class="film-container moving-glow">
    <div id="contact-form-container">
        <h1>¡Estemos en contacto!</h1>
        <%-include("./partials/contact-form")%> 
    </div>
</div>
