<% layout('layouts/boilerplate') %> 


<a id="back-button" href="/films">↻ VOLVER</a>
<div class="film-container moving-glow">
    <div class="error-container">
        <h1>Oh no, Error!</h1>
        <p><%= err.message %></p>
        <% if (process.env.NODE_ENV !== 'production') { %>
            <p class="err-stack"><%= err.stack %></p>
        <% } %>
    </div>
</div>