<% layout('layouts/boilerplate') %> 


<a id="back-button" href="/films">↻ VOLVER</a>
<div class="film-container moving-glow">
    <div class="register-img-container">
        <div class="register-img"></div>
    </div>
    <div class="register-form">
        <h1>Nuevo usuario</h1>
        <form action="/users/register" method="POST">
            <label for="username">Nombre de usuario</label>
            <input type="text" id="username" name="username" autofocus required>
            <label for="email">Email</label>
            <input type="text" id="email" name="email" required>
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" required>
            <button id="register-button">REGISTRARSE</button>
        </form>
        <p>¿Ya tenés una cuenta? <a class="not-logged-msg"href="/users/login">¡Iniciá sesión!</a></p>

    </div>
</div>